html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #4f46e5, #3b82f6, #06b6d4, #10b981);
  background-size: 400% 400%;
  animation: bgGradientMove 15s ease infinite !important;
}

@keyframes bgGradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
